@font-face {
    font-family: "Arimo";
    src: url("/src/assets/fonts/ArimoRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

html {
    font-family: "Arimo";
    font-weight: normal;
}


